.link {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  color: #767676;
  width: max-content;
  padding: 15px 0;
  font-weight: 400;
  margin-left: 2rem;
  white-space: nowrap;
  text-transform: capitalize;
  &:hover {
    color: black;
  }
}

.active {
  color: black;
  border-bottom: 2px solid black;
}
