.photo {
  width: 100%;
  background-color: yellow;
  position: relative;

  .icon {
    position: absolute;
    top: 20px;
    border-radius: 2px;
    right: 20px;
    font-size: 2rem;
    background-color: #eee;
    cursor: pointer;
    z-index: 6;
    display: none;
    padding: 4px;
    &:hover {
      color: black;
      background-color: white;
      transition: 0.3 ease-in-out all;
    }
  }

  .name {
    position: absolute;
    bottom: 20px;
    display: none;
    align-items: center;
    color: white;
    left: 20px;
    z-index: 6;
    h3 {
      margin-left: 0.7rem;
      font-size: 0.9rem;
      letter-spacing: 0.17rem;
      text-transform: capitalize;
    }
  }

  .ishover {
    display: flex;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.411);
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease-in-out all;
  }
}
